**/node_modules
set_env.sh
# env-configmap.yaml
env-secret.yaml
aws-secret.yaml
# backend-user-deployment.yaml
# backend-user-service.yaml
# backend-feed-deployment.yaml
# backend-feed-service.yaml
# frontend-deployment.yaml
# frontend-service.yaml
# reverseproxy-deployment.yaml
# reverseproxy-service.yaml